@model UsersModel

<form asp-controller="Users" asp-action="Ekle" method="GET">
    <div class="form-group">
        <label>KullaniciAdi</label>
        <input name="KullaniciAdi" class="form-control">
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>İsimSoyisim</label>
        <input name="IsimSoyisim" class="form-control" />
        <span asp-validation-for="IsimSoyisim" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>E-posta</label>
        <input type="email" name="Eposta" class="form-control" />
        <span asp-validation-for="Eposta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Parola</label>
        <input type="password" name="Parola" class="form-control" />
        <span asp-validation-for="Parola" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>ParolaTekrar</label>
        <input type="password" name="ParolaTekrar" class="form-control" />
        <span asp-validation-for="Parolatekrar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Url</label>
        <input type="url" name="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>DoğumTarihi</label>
        <input name="dogumyili" class="form-control" />
        <span asp-validation-for="DogumYili" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>
</form>